ul.nav-tabs li a.active , ul.nav-tabs li a.active:hover{
    border-color: transparent;
    border-bottom: 3px solid #ff9b99 !important;
    background-color: transparent;
    color: #ccd7e2 !important;
    }

    ul.nav-tabs li a{
    border-color: transparent !important;
    background-color: transparent !important;
    color: #6f757e !important;
}

.card-body{
    
}