#app{
    background-color: #e55c8a;
    justify-content: center;
}

.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-body{
    background-color: #3c424a;
    padding: 2rem;
}

.title{
    margin-bottom: 2rem;
    color: #ccd7e2;
}

.form-control{
    border-radius: 5px;
    border: 2px solid #2e3238 !important;
    background-color: #343a40 !important;
}

.label{
    color: #ccd7e2;
}

.form-control::placeholder{
    color: #6f757e !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 51px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.form-control input:focus::placeholder{
    color: #454b69;
}

.form-box button[type="submit"]{
    color: #ffffff;
    border-radius: 5px;
    background-color: #e55c8a;
}

.alternative {
    width: 100%; 
    text-align: center;   
    color: #6f757e;
    font-size: 14px;
    line-height: 0.1em;
    border-bottom: 1px solid #343a40; 
    margin: 10px 0 20px; 
    } 

    .alternative span { 
        background:#3c424a; 
        padding:0 10px; 
    }

.forget-link, .register-link{
    color: #e55c8a;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.24px;
    text-align: center;
}

.forget-link{
    text-decoration: underline;
}

.register{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.24px;
    line-height: 51px;
    text-align: center;
    color: #ccd7e2;
    letter-spacing: normal;
    line-height: normal;
}

.form-box .btn-social{
    color: #6f757e !important;
    border: 0;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ccd7e2;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


